:root {
    --bgcolour: #043873;
    --white: #fff;
    --ctaBlue: #4F9CF9;
    --ctaLYellow: #FFE492;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bgcolour);
    font-family: "DM Sans", sans-serif;
}

.dm-sans-logo {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.grid {
    max-width: 1920px;
}
ul {margin: 0; padding: 0;}

.cta {
    border: 0;
    padding: 18.5px 40px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}



.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 0px;

    a {text-decoration: none; color: var(--white);}

    .headerLogo {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 28px; font-weight: 700;
    }

    .navContainer {
        > ul > li {
            display: inline-block;
            &:after {
                    margin-left: 20px;
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: url(../images/downArrow.png) no-repeat;
                    background-size: contain;
                }

            > ul {display: none; position: absolute;}

            &:hover {
                > ul {display: block;}
            }
        }

        /* Global */
        ul {
            display: flex; gap: 70px;
            li {list-style-type: none;}
        }
    }

    .ctaContainer {  
        .ctaButton {
            display: flex;
            /* align-items: flex-end; */
            gap: 24px;
            

            .cta1 {
                background-color: var(--ctaLYellow);
            } 
            .cta2 {
                background-color: var(--ctaBlue);
                color: #fff;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 18.5px 24px;

                &:after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: url(../images/rightArrow.png) no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}

