:root {
    --bgcolour: #043873;
    --white: #fff;
    --ctaBlue : #4F9CF9;
    --sliderBlue : #4F9CF9;
    --ctaLYellow: #FFE492;
    --primary-100: #C4DEFD;
    --black : #000;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.dm-sans-logo {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.grid {
    max-width: 1440px;
    padding: 0px 20px;
    margin: auto;
}
ul {margin: 0; padding: 0;}

.cta {
    border: 0;
    padding: 18.5px 40px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.cta_blue {
    background: var(--ctaBlue);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    padding: 18px 24px;
    font-size: 16px;
    display: inline-block;
}

header {background-color: var(--bgcolour);}
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;

    a {text-decoration: none; color: var(--white);}

    .headerLogo {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 28px; font-weight: 700;
    }

    .navContainer {
        > ul > li {
            display: inline-block;
            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;

                &:after {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: url(../images/downArrow.png) no-repeat;
                    background-size: contain;
                    background-position: center center;
                }
            }

            > ul {display: none; position: absolute;}

            &:hover {
                > ul {display: block;}
            }
        }

        /* Global */
        ul {
            display: flex; gap: 70px;
            li {list-style-type: none;}
        }
    }

    .ctaContainer {  
        .ctaButton {
            display: flex;
            /* align-items: flex-end; */
            gap: 24px;
            

            .cta1 {
                background-color: var(--ctaLYellow);
            } 
            .cta2 {
                background-color: var(--ctaBlue);
                color: #fff;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 18.5px 24px;

                &:after {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: url(../images/rightArrow.png) no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}

/* Hero Section */
.hero-section {
    background: url(../images/element.png) no-repeat var(--bgcolour);
    background-position: center 70%;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;

    .hero-grid {
        display: flex;
        gap: 40px;
    }

    .left-col {
        max-width: 600px;
        h1 {font-size: 48px; font-weight: bold;}
        p {}
        .cta_blue {margin-top: 30px;}
    }

    .right-col {
        img {width: 100%}
    }
}

/* Slider_Section */
.slider-section {
    h1 {
        font-size: 70px;
        font-weight: 700;
        font-style: bold;
        text-align: center;
    }
    .grid {
        .slider_container {
            display: flex;
 
            .quote {
                max-width: 370px;
                border-bottom: 2px solid rgb(0, 0, 0);

                padding: 60 40 40 40;
                background-color: var(--sliderBlue);
                /* border-bottom: 2px solid rgb(0, 0, 0); */
                
            }
            .profile {
                flex-direction: column;
                justify-content: space-evenly;
                max-width: 370px;
                background-color: var(--sliderBlue);
            }
        }
    }
}

/* Responsive */
@media (max-width: 1180px) {
    .hero-section {
        background: #000;
    }
}

