:root {
    --orange: #FF9900;
    --lightBlue: #929A9F;
    --ulGrey: #F5F8FA;
    --darkBlue: #263640;
    --white: #FFFFFF;
}

html, body {
    margin: 0; 
    padding: 0;
    font-family: 'Roboto';                                            
}

h1, h2, h3, h4, h5, p {margin: 0; pad: 0;}
h1 {font-size: 32px; line-height: 45px;}
p {font-size: 16px; line-height: 28px;}
h4 {font-size: 14px; line-height: 20px;}

.grid{
    max-width: 1216px;
    margin: auto;
}

.heading {
    max-width: 560px; margin-bottom: 80px;
    h2 {font-size: 24px; font-weight: 700;}
    p {font-size: 16px; color: #929A9F; line-height: 28px; margin-top: 16px;}
}

/* CTA */

.cta {
    text-decoration: none;
    display: flex; align-items: center; gap: 16px;

    &:hover {
        &:after {margin-left: 10px;}
    }
    &:after {
        content: "";
        display: block;
        width: 8px;
        height: 12px;
        background: url(../images/arrow.svg) no-repeat;
        transition: all 0.15s ease-in-out;
    }
}

header {
    overflow: auto;
    max-width: 1216px;
    margin: 64px auto 96px;
    
    .logo {float: left;}
    .nav {
        float: left; margin-left: 360px;
        ul {margin: 0; padding: 0; }
        li {list-style-type: none;
            display: inline-block;
            margin: 12px;
            font-weight: 500;

            &:hover {
                ul {display: block;}
            }

            &.sub {
                padding-right: 14px;
                &:after{
                    content: "";
                    display: block;
                    position: relative;
                    top: -13px;
                    right: -66px;
                    width: 8px;
                    height: 5px;
                    background: url(../images/arrow.png) no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
            ul {
                display: none;
                position: absolute;
                padding-top: 15px;
            }
            
            li {display: block; 
                margin: 0; 
                padding: 12px 20px; 
                border-bottom: 1px solid white;
                background-color: #F4f4f4;

                &:hover {background-color: #Ededed;}
            }
        }
        a {text-decoration: none; color: black;}
    }
    .mail-cta {
        float: right; 
        background-color: #FF9900; 
        padding: 10px 20px;
        cursor: pointer;
        a {
            text-decoration: none;
            color: white;
            font-weight: 500;
        }
        img {display: block; float: right; margin-left: 10px;}
    }
}

/* Section-1 */

.section-1 { 
    overflow: auto;
    font-family: 'DINPro-Bold', sans-serif; 
    .col-left {
        float: left;
        max-width: 470px;
        h3 {
            margin-top: 100px;
            color: #929A9F;
            text-transform: uppercase;
            letter-spacing: 10%;
        }
        h1 {
                color: #263640;
                vertical-align: middle;
        }
        p {
            font-family: 'DINPro-Medium', sans-serif;
            color: #929A9F;
            vertical-align: middle;
        }
    }

    .cta {
        margin-top: 38px;
        float: left;
        background-color: #FF9900;
        padding: 0 75px 0 15px;   
        cursor: pointer;
        a {text-decoration: none; 
            color: #FFFFFF;
            font-size: 16px;
            line-height: 40px;
            vertical-align: middle;         
        } 
        .right_arrow {
            position: absolute;
            float: right;
            margin-left: 165px;
            margin-top: 9px;
        }   
    }
}

.col-right {
    float: right;
}

/* Section-2 */

.section-2 {
    background-color: var(--ulGrey);
    padding: 177px 0px 558px;
    margin-top: -181px;
    .col-3 {
        display: flex; flex-direction: row;
        justify-content: space-between; gap: 140px;
        align-items: flex-start;
        .col {
            max-width: 312px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            img {
                width: 100%;
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
                -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
                -moz-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07);
            }
            h3 {font-size: 22px; color: #000;}
            p {font-size: 16px; color: var(--lightBlue); line-height: 28px;}
            .cta {color: var(--orange);}
        }
    }
}

/* Section 3 */

.section-3 {
    margin-top: -387px;
    .container {
        background: var(--ulGrey);
        display: flex;
        margin-left: -50px;
        padding-left: 50px;
    }
    .col-left {
        background: var(--darkBlue);
        padding: 98px 0 74px 98px;
        width: 100%;
        margin-right: -250px;
        height: fit-content;

        .content {
            max-width: 494px;
            color: #fff;
            display: flex;
            flex-direction: column;
            gap: 24px;

            h4 {color: var(--lightBlue); text-transform: uppercase; font-size: 14px;}
            /* h1 {}
            p {} */
            .cta {
                color: #fff;
                border-top: 1px solid #ffffff24;
                padding-top: 24px; margin-top: 24px;
                &:after {background: url(../images/arrow-white.svg);}
            }
        }
    }
    .col-right {
        min-width: 488px; margin-top: 98px;
        img {width: 100%;}
    }
}

/* Section-4 */
.section-4 {
    background: rgb(255, 255, 255);      
    margin-top: -140px;
    padding-top: 250px;  
    
    .table1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .table1LeftCol {
            
            max-width: 488px;
        } 

        .table1RightCol {
            cursor: pointer;
            .cta { text-decoration: none; 
                background-color: var(--orange);
                color: #FFFFFF;
                font-size: 16px;
                line-height: 40px;
                padding: 0px 50px 0px 15px;
                
                &:after {
                    background: url(../images/arrow-white.svg) no-repeat;
                }
            } 
        }
    }

    .table2 {
        .tab2content {
            display: flex;
            justify-content: space-between;
            .col {
                max-width: 312px;
                display: flex;
                flex-direction: column;
                gap: 24px;
                h3 {font-size: 22px; color: #000;}
                p {font-size: 16px; color: var(--lightBlue); line-height: 28px;}
                .cta {color: var(--orange);}
            }
        }
    }
}

/* Section 5 */
.section-5 {
    
    .container {
        margin-top: 167px;
        background-color: var(--ulGrey);
    }
    .sect5Table {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .tableColLeft {
            margin-top: 57px;
            max-width: 488px;
            .content {
                max-width: 327px;
                gap: 24px;
                h4 {font-size: 14px; color: var(--lightBlue); line-height: 20px; margin-bottom: 16px;}
                h1 {font-size: 32px; color: #000; line-height: 44px; margin-bottom: 24px;}
                p {font-size: 16px; color: var(--lightBlue); line-height: 28px; font-weight: 500; margin-bottom: 32px;}
                .cta {

                    text-decoration: none; 
                    background-color: var(--orange);
                    color: #FFFFFF;
                    font-size: 16px;
                    line-height: 40px;
                    padding: 0px 0px 0px 16px;
                    margin-right: 193px;
                    
                    &:after {
                        background: url(../images/arrow-white.svg) no-repeat;
                    }
                }
            }
        }
        .tableColRight {
            margin-top: -123px;
            max-width: 728px;
        }

    }
    
}

/* Section Footer */
.footer {
    background-color: var(--darkBlue);

    .footerTable {
        padding: 64px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .col1 {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .content {
            h1, h2, h3, h4, h5, p {margin: 0; pad: 0; color: var(--white);}
            h4 {font-size: 14px; line-height: 100%;}
            p {font-size: 16px; line-height: 26px;}
            .col2 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            .col3 {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
    }
    .footerBottom {
        padding: 40px 0px;
        border-top: 1px solid #ffffff33;
        box-sizing: border-box;        

        .navigation{
        
            ul {
                margin: 0px;
                padding: 0px;
                a {text-decoration: none; color: #ffffff39;}
                
            }

            li {
                display: inline; list-style-type: none;
                margin-right: 25px;  
                &:first-child  {
                    padding-right: 25px;
                    border-right: solid;
                    border-width: 2px;
                    border-right-color: #ffffff39;
                }
            }
        }
    }
}
